# Ignorar a pasta 'old'
old/

# Ignorar a pasta 'resumos_projetos'
resumos_projetos/

# Ignorar o arquivo 'consulta_andamento_projeto_telecomxbr_v3.jsonl'
consulta_andamento_projeto_telecomxbr_v3.jsonl
